* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	scroll-behavior: smooth;

	--val-margin-horizontal: max(2.5rem, 10%);

	--col-link: var(--col-text);
	--col-link-active: #fff79b;

	--col-text: #e4e4e4;
	--col-background: #292929;
	--col-secondary: #141f2c;

	--col-button: #5da3ff;
	--col-button-shaded: #5493e7;

	--col-card-border: rgba(119, 214, 255, 0.25);
	--col-card-background: rgba(0, 0, 0, 15%);
}



body {
	background-attachment: fixed;
	margin-bottom: 2rem;

	background: var(--col-background);
	color: var(--col-text);

	font-family: sans-serif;
}





.text-shadow-big {
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 100%);
}





/* ===== SCROLL BAR ===== */
::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background-color: #00000085;
}

::-webkit-scrollbar-thumb {
	background-color: #666666;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #515151;
}





/* ===== LINKS ===== */
a {
	color: var(--col-link);
	cursor: pointer;
	text-decoration: underline;

	transition: color 0.2s;
}

a:active {
	color: var(--col-link-active);
}



/* No decoration with fancy transition */
a.no-decoration {
	position: relative;
	text-decoration: none;
}

a.no-decoration abbr {
	text-decoration: none;
}

a.no-decoration::before {
	--easing: cubic-bezier(0.16, 1, 0.3, 1);
	content: "";

	position: absolute;
	bottom: -2px;
	left: 50%;
	right: 50%;
	height: 1.5px;

	box-shadow: 0px 0px 8px rgba(0, 0, 0, 85%);

	background-color: var(--col-link);

	transition: left 0.5s var(--easing),
		right 0.5s var(--easing),
		color 0.2s,
		background-color 0.2s;
}

a.no-decoration:hover::before {
	left: 5px;
	right: 5px;
}

a.no-decoration:active::before {
	background-color: var(--col-link-active);
}



/* Button links */
a.button {
	display: inline-block;
	width: fit-content;
	min-width: 5rem;

	padding: 10px 20px;
	margin: 10px 0px;
	border-radius: 10px;

	background-color: var(--col-button);
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 100%);

	transition: all 0.3s cubic-bezier(0.34, 2.56, 0.64, 1);
}

a.button:hover {
	background-color: var(--col-button-shaded);
	transform: translateY(-1px);
}

a.button:active {
	color: var(--col-text);
	transform: translateY(2px);
}





/* ===== HERO DIV ===== */
.hero {
	position: relative;
	width: 100%;
	height: 100svh;
	margin-bottom: 5rem;

	/* background: repeating-linear-gradient(90deg, #12c2e9, #c471ed, #f64f59); */
	background-size: 4000px;
	background-position: 0%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 7.5vh;
}

.hero h1 {
	text-align: center;
	color: var(--col-text);
	font-size: min(6rem, min(15vw, 15vh));

	opacity: 0;
	animation: hero-anim 0.75s ease 0.25s 1 normal forwards;
}

.hero .splash-text {
	color: var(--col-text);
	/* font-weight: bold; */
	font-style: italic;
	/* transform: skewX(-15deg); */
	font-size: 1.25rem;
	letter-spacing: 1px;
	text-align: center;

	opacity: 0;
	animation: hero-anim 0.75s ease 0.5s 1 normal forwards;
}





/* ===== NAVIGATION BAR ===== */
nav {
	position: absolute;
	top: 0px;

	padding: 0px 5%;
	width: 100%;
	height: 100px;
	/* background: rgba(0, 0, 0, 0.05); */

	font-size: 1.25rem;

	display: flex;
	justify-content: right;
	align-items: center;
	column-gap: min(60px, 5vw);
	/* gap: 60px; */

	opacity: 0;
	animation: hero-anim 0.75s ease 0s 1 normal forwards;
}

nav div.left {
	font-size: 1.75rem;
	margin-right: auto;
}

@media (width < 350px) {
	nav {
		/* column-gap: 20px; */
		display: none;
	}
}

@media (height < 450px) {
	nav {
		/* display: none; */
		height: 50px;
	}
}



/* Hero animation */
@keyframes hero-anim {
	from {
		transform: translateY(-15px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}




/* ===== TEXT PARAGRAPHS ===== */
.max-width {
	max-width: 60rem;
	margin: auto;
}

.two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}




/* ===== TEXT SECTION ===== */
.section-container {
	width: 100%;
}

div.section {
	--section-padding: 50px;
	/* display: block;
	width: 100%; */
	padding: var(--section-padding) var(--val-margin-horizontal);

	background-image: linear-gradient(to right, #0000, var(--col-secondary) 25% 75%, #0000);
}

div.section:nth-child(even) {
	background-image: none;
}

div.section:first-child::before,
div.section::after {
	content: "";

	display: block;
	width: 100%;
	height: 1px;

	background-image: linear-gradient(to right, #0000, var(--col-text) 25% 75%, #0000);
}

div.section:first-child::before {
	transform: translateY(calc(-1 * var(--section-padding)));
}

div.section::after {
	transform: translateY(var(--section-padding));
}


.section h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}






/* ===== FILTERS ===== */
.filter-and-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	margin-top: 2rem;
}


.filter-container {
	--selection-width: 0;
	--selection-offset-x: 0;

	--container-h-padding: 1.4rem;

	position: relative;
	display: flex;
	align-items: center;
	gap: 1.75rem;

	border: 2px solid var(--col-card-border);
	border-radius: 9999px;
	padding: 0px var(--container-h-padding);
	/* height: 3rem; */
}

.filter-container::before {
	--h-padding: 1rem;

	content: "";
	position: absolute;

	width: var(--selection-width);
	transform: translateX(calc(var(--selection-offset-x) - var(--container-h-padding) - var(--h-padding) - 2px));

	border: 2px solid var(--col-text);
	border-radius: 9999px;
	padding: 1rem var(--h-padding);

	transition: all 0.2s;
}

.filter {
	cursor: pointer;
	padding: 0.75rem 0rem;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/* ===== CARDS ===== */
.card-grid-container {
	width: 100%;
	height: 500px;
	overflow-y: auto;

	border-radius: 32px;
	box-shadow: inset 0px 0px 32px rgba(0, 0, 0, 50%);
}

.card-container {
	--min-card-width: 250px;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
	gap: 1.5rem;

	width: 100%;
	padding: 20px;
}

.section>.card-container {
	margin-top: 2rem;
}

.card {
	display: block;
	/* width: 250px; */
	/* min-height: 150px; */
	padding: 1rem;

	background-color: var(--col-card-background);
	border: 2px solid var(--col-card-border);
	border-radius: 16px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);

	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.05);
}

.card-container .card.no-content {
	position: absolute;
	left: var(--val-margin-horizontal);
	right: var(--val-margin-horizontal);
	/* color: red; */

	width: 250px;
	margin: auto;

	transform: translateY(200px);

	transition: none;
}

.card.no-content:hover {
	transform: scale(1) translateY(0px);
}